<html>

<head><!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
		integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Gloock&family=Heebo&family=Libre+Franklin:wght@300&family=Playfair+Display&family=Poppins&family=Roboto+Condensed:wght@700&display=swap"
		rel="stylesheet">

	<!-- for animation -->

	<style type="text/css">
		.orange_line:hover {
			border-top: 3px solid #FF9421;
		}
	</style>

</head>

<body>
	<!-- navbar starts -->
	<nav class="navbar navbar-expand-lg" style="background-color: #101935;">
		<div class="container-fluid">
			<a class="navbar-brand" href="" style="color:white;"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>



			<a href="logout.php" class="btn btn-primary py-1 px-4 d-none d-lg-block"
				style="background-color:#FF9421;border-color:#FF9421">Logout</a>
		</div>
	</nav>
	<!-- navbar ends -->


	<br><br><br><br><br><br>
	<div class="container-fluid">
		<div class="row gy-3">
			<div class="col-sm-9">
				<p class="h3">Pending Booking Requests</p>
			</div>
			<!-- <div class="col-sm-3">
			<button class="btn btn-primary" style="background-color: #101935;">CHANGE PASSWORD</button>
		</div> -->
		</div>
		<br>
		<table class="table">
			<th style="background-color: #FF9421; padding: 15px;">Student ID</th>
			<th style="background-color: #FF9421; padding: 15px;">Username</th>
			<th style="background-color: #FF9421; padding: 15px;">Phone Number</th>
			<th style="background-color: #FF9421; padding: 15px;">Gmail</th>
			<th style="background-color: #FF9421; padding: 15px;"> Status</th>

			<tr>
				{% for i in reg %}
			<tr>
				<th scope="row"> {{i.sr_id}}</th>
				<td>{{i.sr_username}} </td>
				<td>{{i.sr_call_number}} </td>
				<td>{{i.sr_gmail}} </td>
				<td></td>
			</tr>
			{% endfor %}
			</tr>



		</table>
	</div>
	<br><br>

	<div class="container">
		<p class="h3 text-center">Manage Queries</p>
		<br><br>
		<table class="table">
			<th>Name</th>
			<th>Query</th>
			<th>Action</th>



			<!-- echo "<tr>";
              echo "<td>$n</td>";
              echo "<td>$m</td>";
              echo "<td><form method='POST'> -->


			<div class='row gy-3'>
				<div class='col-sm-8'>
					<input type='text' name='email' value='' hidden>
					<textarea cols='80' name='replymsg'></textarea>
				</div>
				<div class='col-sm-4'>
					<button class='btn btn-primary' type='submit' name='reply'
						style='background-color:#101935; border:none'>REPLY</button>
				</div>
			</div>

			</form>
			</td>
			</tr>





		</table>
	</div>
</body>

</html>